<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular-karma-showcase</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/directives/simple.directive.js"></script>
    <script src="app/directives/stateful.directive.js"></script>
    <script src="app/filters/titleCase.filter.js"></script>
    <script src="app/controllers/password.controller.js"></script>
    <style>
        button.blue:after {
            content: ' - Added blue class';
        }
        button:after {
            content: ' - No blue class';
        }
    </style>
</head>
<body ng-app='app'>
    <a-great-eye></a-great-eye>
    <button ns-stateful="blue">Click me</button>
    <hr>
    <input type="text" ng-model="message"> {{message | titleCase}}
    <hr>
    <div ng-controller="PasswordController">
        <input type="password" ng-model="password" ng-change="grade()"> the password is {{strength}}
    </div>
    
</body>
</html>
